
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');


body {
	overflow: hidden;
}



.heading {
	position: relative;
	font-family: century gothic;
	font-weight: 800;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
	font-size: 18px;

}
